/*  CSS Reset  */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Rubik", sans-serif;
	text-align: center;
	background-image: linear-gradient(360deg, #bdc3c7, #2c3e50);
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	height: 100vh;
}

#flex-container {
	display: flex;
	justify-content: center;
	height: 506px;
}

#game-div {
	display: flex;
	flex-wrap: wrap;
	width: 306px;
	border: solid 3px whitesmoke;
	box-shadow: 10px 10px 25px 10px rgba(50, 50, 50, 0.2);
}

#game-div .block {
	height: 30px;
	width: 30px;
}

header {
	margin: 50px;
}

h1 {
	font-size: 3rem;
}

button {
	padding: 5px 10px;
	margin-top: 10px;
	border: none;
	outline: none;
	cursor: pointer;
}

#status,
#score,
#timer {
	font-size: 1.5rem;
}

h1,
#status,
#timer {
	margin: 10px;
}

.blockL {
	background-color: #e3b505;
}

.blockI {
	background-color: #95190c;
}

.blockSq {
	background-color: #610345;
}

.blockT {
	background-color: #107e7d;
}

.blockSn {
	background-color: #044b7f;
}
